/* CSS Code*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

.container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    min-height: 70vh;
    width: 70%;
    border-radius: 30px;
    background: #000000;
    box-shadow: 5px 5px 6px rgba(0,0,0,.5),
                -5px -5px 6px rgba(0,0,0,.5);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

h1{
    font-size: 50px;
    color: #FC00FF;
    position: relative;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.form{
    min-width: 50%;
    min-height: 50vh;
    color: #ffffff;
}

label{
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
    padding-left: 20px;
}

input{
    color: #ffffff;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    margin-left: 20px;
    padding-top: 15px;
}

button{
    outline: none;
    display: flex;
    align-items: center;
    padding: 5px 80px;
    border-radius: 30px;
    margin-left: 1rem;
    margin-top: 2rem;
    background: #cf00f0;
    color: #ffffff;
}

#study{
    width: 15rem;
    height: 15rem;
    position: relative;
    bottom: -5rem;
    right: -1rem;
    z-index: 2;
}

#sub{
    width: 5.9rem;
    height: 4.9rem;
    position: absolute;
    top: 0.3rem;
    right: 6rem;
}

h2{
    position: absolute;
    color: #ffffff;
    right: 3rem;
    top: 6rem;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    max-width: 200px;
    font-size: 30px;
    line-height: 1.2;
    z-index: 3;
}

.path{
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    clip-path: circle(350px at right);
}